<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1>Loop it!</h1>
    <h3><%//= session.user_name %> 님 반갑습니다.</h3>
    <ul>
        <% for(var i=0; i<length; i++){ %>
            <li>
                <%= "LOOP" + i %>
            </li>
        <% } %>
    </ul>
    <a href="/board">게시판 이동</a>
</body>

</html>