<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1>로그인 페이지</h1>
    <form method="post" action="/member/login">
        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="user_id"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="user_pwd">
                </td>
            </tr>
        </table>
        <input type="submit" value="로그인"/>
    </form>
</body>

</html>