<h1>리스트 화면 입니다.</h1>

<table border="1" width="300px">
    <tr>
        <td>번호</td><td>제목</td>
    </tr>
    <%for (var i = 0; i < board_list.length; i++){%>
    <tr>
        <td><%= board_list[i].board_idx%></td>    
        <td width="200px">
            <a href="/board/view?board_idx=<%=board_list[i].board_idx%>"><%= board_list[i].board_title%></a>            
        </td>            
    </tr>
    <%}%>
</table>

<input type="button" value="글쓰기" onclick="location.href='/board/write'"/>