<h1>게시물 상세보기</h1>
<table border="1" width="300px">
    <tr>
        <td>글번호</td><td><%=board_info.board_idx%></td>
        <td>제목</td><td><%=board_info.board_title%></td>
    </tr>
    <tr>
        <td colspan="4">
            <%=board_info.board_contents%>
        </td>
    </tr>
</table>
<input type="button" value="목록으로" onclick="location.href='/board/list'"/>
<input type="button" value="수정" onclick="location.href='/board/write?board_idx=<%=board_info.board_idx%>'" />