<h1>게시판 작성</h1>

<form method="post" action="/board/proc_write">
    <input type="hidden" name="board_idx" value="<%=board_info ? board_info.board_idx : ''%>"/>
    제목 : <input type="text" name="board_title" style="width:300px" value="<%=board_info ? board_info.board_title : ''%>"/><br/>
    내용 : <br>
    <textarea name="board_contents"><%=board_info ? board_info.board_title : ''%></textarea>
    <br>
    <input type="submit" value="작성">
    <input type="button" value="취소" onclick="location.href='/board/list'">
</form>
