<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <% for(var user of users){ %>
    <li>
        <%= user.name %>
    </li>
    <% } %>
<%= JSON.stringify(item)%>
    <% for(var item of list){ %>
    <li>
        <%= item['id'] %> | <%= item['info'] %>
    </li>
    <% } %>
</body>

</html>